{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MelodiaHomeCare - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- jQuery -->
    <link rel="stylesheet" href="{% static 'js/jquery.flipster.min.css' %}" />
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.flipster.min.js' %}"></script>
  </head>
  <body onload="collaps()">
    <header class="nav__container">
      <nav class="nav collapsible container" id="navi">
        <h1 class="nav__heading">
          <a href="{% url 'home' %}"
            ><i class="fa fa-stethoscope"></i>
            <span style="font-weight: bolder">MelodiaHomeCare</span></a
          >
        </h1>
        <svg class="icon nav-toggler" onclick="expand()">
          <use xlink:href="{% static 'images/sprite.svg' %}#menu"></use>
        </svg>
        <svg class="nav-cross icon-small" onclick="collaps()">
          <use xlink:href="{% static 'images/sprite-x.svg' %}#letter-x"></use>
        </svg>
        <ul class="list nav__list collapsible__content">
          <li class="nav__item"><a href="{% url 'home' %}">Home</a></li>
          <li class="nav__item collapsible--drop">
            <div class="dropdown">
              <div class="dropbtn">
                <a>About <i class="fa fa-caret-down"></i></a>
              </div>
              <div class="dropdown-content">
                <a href="{% url 'areas' %}">Services & Areas</a>
                <a href="{% url 'team' %}">Team</a>
              </div>
            </div>
          </li>
          <li class="nav__item collapsible--drop">
            <div class="dropdown">
              <div class="dropbtn">
                <a>Services <i class="fa fa-caret-down"></i></a>
              </div>
              <div class="dropdown-content">
                <a href="{% url 'nursing_service' %}">Skilled Nurse (SN)</a>
                <a href="{% url 'home_care' %}">Home Care Nursing (HCN)</a>
                <a href="{% url 'health_aide' %}">Home Health Aide</a>
                <a href="{% url 'personal_assistant' %}"
                  >Personal Care Assistance (PCA)</a
                >
                <a href="{% url 'home_making' %}">Homemaking Services</a>
                <a href="{% url 'therapy' %}">Therapy</a>
                <a href="{% url 'iv_therapy' %}">IV Therapy</a>
                <a href="{% url 'interpretive'%}">Interpretive Services</a>
                <a href="{% url 'independent_living' %}"
                  >Independent Living Skills (ILS)</a
                >
                <a href="{% url 'companion' %}">Companion</a>
                <a href="{% url 'respite' %}">Respite</a>
                <a href="{% url 'social_service' %}">Social Services</a>
                <a href="{% url 'hospice' %}">Hospice</a>
              </div>
            </div>
          </li>
          <li class="nav__item"><a href="{% url 'payment' %}">Payment</a></li>
          <li class="nav__item collapsible--drop">
            <div class="dropdown">
              <div class="dropbtn">
                <a>Career <i class="fa fa-caret-down"></i></a>
              </div>
              <div class="dropdown-content">
                <a href="{% url 'benefits' %}">Employee Benefits</a>
                <a href="{% url 'job_opening' %}">Opening</a>
              </div>
            </div>
          </li>
          <li class="nav__item"><a href="{% url 'contact' %}">Contact</a></li>
          <li class="nav__item collapsible--drop">
            <div class="dropdown">
              <div class="dropbtn">
                <a>Hospice <i class="fa fa-caret-down"></i></a>
              </div>
              <div class="dropdown-content">
                <a href="{% url 'what_is_hospice' %}">What is Hospice?</a>
                <a href="{% url 'question' %}">FAQ</a>
              </div>
            </div>
          </li>

          <li class="nav__item btn-nav">
            <a
              href="{% url 'apply_now' %}"
              class="btn"
              style="padding: 10px; margin-top: 10px"
              >Apply Now</a
            >
          </li>
        </ul>
      </nav>
    </header>
    {% block home %} {% endblock %}
    <footer class="block block--dark footer">
      <div class="container grid footer__sections">
        <section class="collapsable footer__section">
          <header class="collapsable__header">
            <h2 class="collapsable__heading footer__heading">Basics</h2>
            <svg class="icon icon--white collapsable__chevron">
              <use xlink:href="{% static 'images/sprite.svg' %}#chevron"></use>
            </svg>
          </header>
          <div class="collapsable__content">
            <ul class="list footer__list">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
              <li><a href="{% url 'team' %}">About</a></li>
            </ul>
          </div>
        </section>
        <section class="collapsable footer__section">
          <header class="collapsable__header">
            <h2 class="collapsable__heading footer__heading">
              What is our Benefits?
            </h2>
            <svg class="icon icon--white collapsable__chevron">
              <use xlink:href="{% static 'images/sprite.svg' %}#chevron"></use>
            </svg>
          </header>
          <div class="collapsable__content">
            <ul class="list footer__list">
              <li><a href="{% url 'payment' %}">Payments</a></li>
              <li><a href="{% url 'benefits' %}">Employee Benefits</a></li>
              <li><a href="{% url 'job_opening' %}">Job Opening</a></li>
            </ul>
          </div>
        </section>
        <section class="collapsable footer__section">
          <header class="collapsable__header">
            <h2 class="collapsable__heading footer__heading">
              How Do We Work?
            </h2>
            <svg class="icon icon--white collapsable__chevron">
              <use xlink:href="{% static 'images/sprite.svg' %}#chevron"></use>
            </svg>
          </header>
          <div class="collapsable__content">
            <ul class="list footer__list">
              <li><a href="{% url 'areas' %}">Areas & Services</a></li>
              <li>
                <a href="{% url 'what_is_hospice' %}">What is Hospice?</a>
              </li>
              <li><a href="{% url 'question' %}">FAQ</a></li>
            </ul>
          </div>
        </section>
        <section class="footer__brand">
          <h1 class="nav__heading footer__brand-heading">
            <a href="{% url 'home' %}"
              ><i class="fa fa-stethoscope"></i> <span>MelodiaHomeCare</span></a
            >
          </h1>
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-instagram"></i></a>
          <a href=""><i class="fa fa-youtube"></i></a>
        </section>
      </div>
      <hr />
      <div class="copy_right">
        <p class="footer__copyright">Copyright © 2021 MelodiaHomeCare</p>
        <p class="footer__copyright">support@melodiahomecare.com</p>
        <p class="footer__copyright made_by">
          Design and Developed by <span>RYKSOFT</span>
        </p>
      </div>
    </footer>
    <script src="{% static 'js/func.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
